body {
   width: 100%;
   height: 100%;
   background-image: url("/assets/img/burger2.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   text-align: center;
   color: blue;
   /* text-shadow: 2px 2px black; */
   text-decoration-line: underline;
    text-decoration-color: black 2px;
}
h1 {
    margin-left: 275px;
    background-color: yellow;
    padding: 20px;
    border: 2px solid black;
    width: 960px;
    /* text-shadow: white 2px 2px; */
}
h2 {
    background-color: yellow;
    padding: 20px;
    border: 2px solid black;
    width: 960px;
    margin-left: 275px;
}
li {
    background: red;
    margin: 5px;
    padding: 5px;
    font-weight: bold;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    background: aqua;
    margin: 5px;
    padding: 5px;
  }
  
  .form-group {
    /* margin-bottom: 5px; */
    background-color: yellow;
    padding: 20px;
    border: 2px solid black;
    width: 960px;
    margin-left: 275px;
}


  